/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: transparent;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-image: url("https://marketplace.canva.com/EAFYIWPCudg/1/0/1600w/canva-papel-de-parede-para-computador-astronauta-gal%C3%A1xia-preto-e-branco-lKp1cXK1ybY.jpg");
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #f8f8f8;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  select,
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Bordas transparentes */
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5); /* Fundo com transparência */
    color: black; /* Texto preto */
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #37a106;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: transparent; /* Fundo do botão transparente */
  }
  
  #resultados {
    margin-top: 20px;
  }
  
  